<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.mbtimer176075" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>mb-timer</name>
  <description>
        A simpler timer, with vibration!
    </description>
  <author email="mikeb_barreiro@yahoo.com" href="http://mikeb.io">
      Michael Barreiro
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>