@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-image: url('http://data3.whicdn.com/images/96471128/large.jpg');
  background-size: cover;
}

.title{
  font-family: 'Indie Flower', cursive;
}

.range{
  border: 2px solid black;
  border-radius: 5px;
  background-color: RGBA(245, 63, 73, 0.8);
}

button {
  background-color: RGBA(78, 77, 78, 0.8);
  padding: 10px;
}

.clock {
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 10%;
  padding: 10px;
  font-size: 25px;
  background-color: RGBA(245, 63, 73, 0.8);
  border-radius: 25px;
}
